/* font-size 
    20px = 1.250em
    22px = 1.375em
    23px = 1.438em  line-height 34px = 1.4782
    24px = 1.500em
    26px = 1.625em
    27px = 1.688em
    28px = 1.750em
    29px = 1.813em
    30px = 1.875em
    33px = 2.063em
    34px = 2.125em
    35px = 2.188em
    36px = 2.250em
    38px = 2.375em
    40px = 2.500em
    43px = 2.688em
    50px = 3.125em
    60px = 3.750em
    70px = 4.375em
    80px = 5.000em
    100px = 6.250em
    120px = 7.500em
*/
/* 공통 */
.wrap{
    margin: 0 auto;
    font-size: 1rem;
}
@media screen and (max-width:640px){
    .wrap{
        font-size: 2.5vw;
    }
}

*{letter-spacing: -2px; word-break: keep-all;}
 
mark{display: inline-block; color: #ae894d; background-color: transparent;}
/* 플러스 아이콘 */
.plusIcon{text-indent: -9999px; display: inline-block; width: 6.250em; height: 6.250em; background: white url('../images/plusIcon.png') no-repeat center; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);}
/* 언더라인 */
.underLine{position: relative; display: inline-block;}
.underLine::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: black;}
/* 페이지 */
div[class |= "page"]{font-size: 1.250em; color: #a2a2a2;}
div.page-sub{text-align: right; margin-top: 1.500em;}

/* 사이즈 */
.contents1900,
nav > div,
footer{max-width: 1900px; margin: 0 auto;}
.contentsSize{padding: 0 1.875em;}
.contentsSizeMargin{margin: 0 1.875em;}


/* 탭 */
.tabBtn li{cursor: pointer;}
.tabContants li{display: none;}
.tabContants li.active{display: block;}

/* 서브페이지 */
/* .subArea > section{margin-bottom: 100px;} */
.subArea > section > *:not(:last-child):not(.subTItleArea){margin-bottom: 6.250em;}
/* 서브페이지 타이틀 */
.subArea .subTItleArea{margin-bottom: 2.813em;}
.subArea .subTItleArea h2{height: 8.421em; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: 2.375em; font-weight: 900; color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
.subArea .subTItleArea mark{font-size: 0.684em; font-weight: 900; color: #f4cd8f; margin-bottom: 1.154em;}


header + *{padding-top: 7.500em;}

/* header */
/* 해더 상단 */
header{background-color: white; position: fixed; left: 0; top: 0; width: 100%;  height: 7.500em; background-color: rgba(0,0,0,0.2); overflow: hidden; display: flex; flex-direction: column; z-index: 1000;}
header.active{height: 100%;}
header .header_top{min-height: 7.500em; padding: 2.188em 1.875em; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; background-color: white;}
header .header_top h1{width: 14.063em;}
header .header_top h1 img{width: 100%;}
header .header_top .menuBtn{width: 2.500em; height:2.063em; cursor: pointer;}
header .header_top .menuBtn span{display: block; height: 0.188em; background-color: black; transition: 0.5s;}
header .header_top .menuBtn span:not(:last-child){margin-bottom: 0.750em;}
header.active .header_top .menuBtn span:nth-child(1){transform: translateY(0.938em) rotate(45deg);}
header.active .header_top .menuBtn span:nth-child(2){opacity: 0;}
header.active .header_top .menuBtn span:nth-child(3){transform: translateY(-0.938em) rotate(-45deg);}

/* 메뉴 클릭시 */
header .header_center{background-color: white; flex: 1; overflow-y: scroll;}
header .header_center > *{padding: 0 1.875em;}
header .header_center > .subTitle{margin-bottom: 4.375em;} 
header .header_center > .subTitle a{display: inline-block; font-size: 1.688em; font-weight: 700; color:#cda361; padding-bottom:0.438em; position: relative; align-self: center;}
header .header_center > .subTitle a::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #cda361;}
header .header_center > .subTitle a::after{content: '·';  display: inline-block; margin-left: 20px;}
header .header_center .loginBtnArea{padding-bottom: 1.875em; border-bottom: 1px solid rgba(0,0,0,0.2);}
header .header_center .loginBtnArea > a{font-size: 1.375em; font-weight: 500; color: #757575;}
header .header_center .loginBtnArea > a:not(:first-child)::before{content: '·'; display: inline-block; padding: 0 0.313em;}
header .header_center .loginBtnArea div{margin-top: 2.500em; display: flex;}
header .header_center .loginBtnArea div a{font-size: 1.375em; font-weight: 700; display: flex; align-items: center;}
header .header_center .loginBtnArea div a::before{content: ''; display: inline-block; width: 1.818em; height: 1.818em; background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 0.625em;}
header .header_center .loginBtnArea div a:nth-child(1)::before{background-image: url('../images/headerTopIcon01.png');}
header .header_center .loginBtnArea div a:nth-child(2)::before{background-image: url('../images/headerTopIcon02.png');}
header .header_center .loginBtnArea div a:not(:last-child){margin-right: 35px;}
header .header_center nav{padding-top: 3.750em; padding-bottom: 3.750em; font-weight: 500;}
header .header_center nav > ul{}
header .header_center nav > ul > li{}
header .header_center nav > ul > li:not(:last-child){margin-bottom: 3.750em;}
header .header_center nav > ul > li > a{font-size: 1.875em; }
header .header_center nav > ul > li > a.active{color: #bd9c68;}
header .header_center nav > ul > li ul{display: none; padding: 1.25em 0; border-bottom: 1px solid rgba(0,0,0,0.2);}
header .header_center nav > ul > li ul li{padding: 1.25em 0;}
header .header_center nav > ul > li ul li a{font-size: 1.625em; color: #757575;}
header .header_bottom{min-height: 20.000em;}
header .header_bottom > ul{display: flex; background-color: #313131;}
header .header_bottom > ul li{width: calc(100% / 3);}
header .header_bottom > ul:first-of-type li{border-bottom: 1px solid #5a5a5a;}
header .header_bottom > ul:first-of-type li:nth-child(2){border-left: 1px solid #5a5a5a; border-right: 1px solid #5a5a5a;}
header .header_bottom > ul:first-of-type li a{display: flex; justify-content: space-between; align-items: center; font-size: 1.375em; font-weight: 700; color: white; line-height: 4.091em; padding: 0 1.364em;}
header .header_bottom > ul:first-of-type li a::after{content: ''; width: 0.455em; height: 0.773em; background: url('../images/headerBracket.png') no-repeat center / cover;}
header .header_bottom > ul:nth-of-type(2) li a{display: block; text-align: center; padding: 3.125em 0;}
header .header_bottom > ul:nth-of-type(2) li a p{font-size: 1.375em; font-weight: 700; color:#969696; padding-top: 2.727em; margin-bottom: 0.682em; background-repeat: no-repeat; background-position: center top; background-size: 1.818em 1.818em;}
header .header_bottom > ul:nth-of-type(2) li:nth-child(1) a p{background-image: url('../images/asideIcon01.png');}
header .header_bottom > ul:nth-of-type(2) li:nth-child(2) a p{background-image: url('../images/asideIcon02.png');}
header .header_bottom > ul:nth-of-type(2) li:nth-child(3) a p{background-image: url('../images/asideIcon03.png');}
header .header_bottom > ul:nth-of-type(2) li a mark{font-size: 2.125em; font-weight: 500;}



/* footer */
footer{ background-color: #f6f6f6;}
footer > div:first-of-type{ font-weight: 500; padding-top: 3.750em; padding-bottom: 2.500em;}
footer > div:first-of-type h2{width:14.063em; margin-bottom: 30px;}
footer > div:first-of-type h2 img{width: 100%;}
footer > div:first-of-type address{font-size: 1.375em; display: flex; flex-wrap: wrap; font-style: normal; margin-bottom: 40px;}
footer > div:first-of-type address *{ line-height: 1.636em;}
footer > div:first-of-type address > *{margin-right: 1.818em;}
footer > div:first-of-type address > div{display: flex;}
footer > div:first-of-type address > *.block{width: 100%;}
footer > div:first-of-type address > div h4::after{content: ':';}
footer > div:first-of-type > p{color: #757575; font-size: 1.250em; line-height: 1.500em;}
footer > div:nth-of-type(2){border-top: 1px solid #d7d7d7;}
footer > div:nth-of-type(2) ul{display: flex; justify-content:center; flex-wrap: wrap; padding: 1.875em 0;}
footer > div:nth-of-type(2) ul:not(:last-child){margin-bottom: 1.875em;}
footer > div:nth-of-type(2) ul li a{display: block; font-size: 1.375em; font-weight: 700; color: #535353;}
footer > div:nth-of-type(2) ul li:not(:last-child) a{margin-right: 2.273em;}


/* 팝업 */
.popupArea{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;  justify-content: center; align-items: center; background-color: rgba(0,0,0,0.8); z-index: 1000;}
.popupArea.active{display: flex;}
.popupArea > *{position: relative;}
.popupArea button.closeBtn{position: absolute; top: 20px; right: 25px; width: 20px; height: 20px; background: url('../images/closeIcon.png') no-repeat center; border: none; text-indent: -9999px;}
.popupArea .finishBtn{width: 240px; height: 70px; background-color: #956e2f; border-radius: 100px; font-size: 24px; font-weight: 700; color: white; border: none;}

.receptionArea form{background-color: #f7f7f7;}
.receptionArea form fieldset{width: 1000px; height: 640px;  box-sizing: border-box; text-align: center;}
.receptionArea form fieldset legend{display: block; width: 100%; font-size: 30px; font-weight: 700; padding: 120px 0 30px; background-color: white; background: url('../images/popipIcon.png') no-repeat center 40px;}
.receptionArea form fieldset ul{padding: 40px 0;}
.receptionArea form fieldset ul li{width: 720px; margin: 0 auto; display: flex; align-items: center;}
.receptionArea form fieldset ul li:not(:last-child){margin-bottom: 20px;}
.receptionArea form fieldset ul li label{min-width: 160px; font-size: 18px; font-weight: 700; color:#757575; text-align: left; padding-left: 40px; box-sizing: border-box;}
.receptionArea form fieldset ul li input[type="text"]{width: 400px; height: 50px; font-size: 18px; border:1px solid #d4d4d4; padding: 0 20px; box-sizing: border-box;}
.receptionArea form fieldset input[type="submit"]{}

.receptionFinishArea > div{width: 1000px; height: 530px; padding-left: 515px; padding-bottom: 60px; box-sizing: border-box; background: url('../images/popupBG.png') no-repeat center / cover; display: flex; flex-direction: column; justify-content: flex-end;}
.receptionFinishArea > div p{font-size: 20px; font-weight: 700; line-height: 30px;}
.receptionFinishArea > div p:not(:last-of-type){margin-bottom: 30px;}
.receptionFinishArea > div p:last-of-type{margin-bottom: 55px;}