/* 메인 슬라이더 */
.mainSliderArea{margin-bottom: 6.875em;}
.mainSliderArea .swiper-slide{background-repeat: no-repeat; background-position: center; background-size: cover;}
.mainSliderArea .swiper-slide img{width: 100%; }
.mainSliderArea .mainSlider_page{position: absolute; right: 0; bottom: 0; width: 17.188em; height: 95px; background-color: white; z-index: 10; border-top-left-radius: 50px; box-sizing: border-box;}
.mainSliderArea .mainSlider_page > div{width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;}
.mainSliderArea .mainSlider_page > div *{position: static; margin-top: 0;}
.mainSliderArea .mainSlider_page > div .swiper-pagination{width: auto; font-size: 1.375em; font-weight: 900; color: #d4d4d4; box-sizing: border-box;}
.mainSliderArea .mainSlider_page > div .swiper-pagination .swiper-pagination-current{color: black;}
.mainSliderArea .mainSlider_page > div .swiper-button-prev,
.mainSliderArea .mainSlider_page > div .swiper-button-next{opacity: 1; font-weight: 900;}
.mainSliderArea .mainSlider_page > div .swiper-button-prev::after,
.mainSliderArea .mainSlider_page > div .swiper-button-next::after{font-size: 1.375em; width: auto; height: auto; color: black;}


/* 메인 혜택 */
.mainReservationArea{margin-bottom: 7.500em;}
.mainReservationArea .plusIcon{position: absolute; right: 0; bottom: -30px;}

.mainReservationArea figure figcaption h3{font-size: 2.125em; font-weight: 700; margin-bottom: 0.441em;}
.mainReservationArea figure figcaption p{font-size: 1.375em; font-weight: 700; line-height: 1.545em; }

.mainReservationArea div:not(:last-child){margin-bottom: 4.688em;}
.mainReservationArea div figure:not(:last-child){margin-bottom: 4.688em;}
.mainReservationArea div figure a{display: block; margin-bottom: 2.188em; position: relative;}
.mainReservationArea div figure a img{width: 100%;}

.mainReservationArea > div:first-of-type h2{font-size: 2.500em; font-weight: 700; line-height: 1.400em; margin-bottom: 1.250em;}

.mainReservationArea > figure{width: 100%; margin: 0 auto 6.875em; background: url('../images/mainReservationImg03.jpg') no-repeat center / cover;}
.mainReservationArea > figure figcaption{height: 24.375em; padding-top: 2.188em; padding-bottom: 2.188em; box-sizing: border-box; display: flex; flex-direction: column; justify-content: flex-end; position: relative;}
.mainReservationArea > figure figcaption a{ color: white;}


/* 메인 예약 */
.mainBenefitArea{padding: 6.250em 0 5.000em; background-color: #f6f6f6; margin-bottom: 7.813em;}
.mainBenefitArea .titleArea h2{font-size: 2.500em; font-weight: 700; line-height: 1.500em; margin-bottom: 1.500em; position: relative;}
.mainBenefitArea > .tabBtnArea{margin-bottom: 3.750em;  position: relative;}
.mainBenefitArea > .tabBtnArea > div{overflow-y: auto; padding-bottom: 3px;}
.mainBenefitArea > .tabBtnArea div div{display: inline-block; border-bottom: 1px solid rgba(0,0,0,0.15);}
.mainBenefitArea > .tabBtnArea div div ul.tabBtn{display: inline-flex;  /* padding: 0 3.750em; */}
.mainBenefitArea > .tabBtnArea div div ul.tabBtn li{white-space: nowrap; text-align: center; font-size: 1.813em; font-weight: 700; line-height: 2em; color: #a5a5a5; padding: 0 1.379em; position: relative; cursor: pointer;}
.mainBenefitArea > .tabBtnArea div div ul.tabBtn li:hover,
.mainBenefitArea > .tabBtnArea div div ul.tabBtn li.active{color:#ae894d;}
.mainBenefitArea > .tabBtnArea div div ul.tabBtn li.active::after{content: ''; position: absolute; left: 0; bottom: -2px; width: 100%; height: 3px; background-color: #ae894d;}
.mainBenefitArea > .tabBtnArea button{text-indent: -9999px; width: 0.875em; height: 100%; position: absolute; top: 0; background-repeat: no-repeat; background-position: center; background-size: 100%; border: none; background-color: transparent;}
.mainBenefitArea > .tabBtnArea button:nth-of-type(1){background-image: url('../images/mainBenefitBracket01.png'); left: 1.875em;}
.mainBenefitArea > .tabBtnArea button:nth-of-type(2){background-image: url('../images/mainBenefitBracket02.png'); right: 1.875em;}
.mainBenefitArea > ul.tabContants{height: 84.063em; }
.mainBenefitArea > ul.tabContants li::after{content: ''; display: block; visibility: hidden; clear: both;}
.mainBenefitArea > ul.tabContants li.active{display: flex;}
.mainBenefitArea > ul.tabContants li{display: none; width: 100%; height: 100%; padding-top: 3.750em; padding-bottom: 37.50em; box-sizing: border-box; flex-direction: column; justify-content: flex-start; background-repeat: no-repeat; background-position: center bottom; background-size: 36.125em 33.938em; background-color: #ece5e1;}
.mainBenefitArea > ul.tabContants li:nth-child(1){background-image: url('../images/mainBenefitTabImg01.png')}
.mainBenefitArea > ul.tabContants li:nth-child(2){background-image: url('../images/mainBenefitTabImg02.png')}
.mainBenefitArea > ul.tabContants li:nth-child(3){background-image: url('../images/mainBenefitTabImg03.png')}
.mainBenefitArea > ul.tabContants li:nth-child(4){background-image: url('../images/mainBenefitTabImg04.png')}
.mainBenefitArea > ul.tabContants li:nth-child(5){background-image: url('../images/mainBenefitTabImg05.png')}
.mainBenefitArea > ul.tabContants li h3{font-size: 2.250em; font-weight: 700; color: #ae894d; line-height: 1.333em; margin-bottom: 0.833em; }
.mainBenefitArea > ul.tabContants li p{font-size: 1.375em; font-weight: 500; line-height: 1.545em;}
.mainBenefitArea > ul.tabContants li p:not(:last-of-type){margin-bottom: 1.364em;}
.mainBenefitArea > ul.tabContants li p strong{display: inline-block; font-size: 1.273em; font-weight: 700; line-height: 1.500em; position: relative; }
.mainBenefitArea > ul.tabContants li p strong::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: black;}
.mainBenefitArea > ul.tabContants li > a{margin: auto; margin-bottom: 0; font-size: 2.063em; font-weight: 700; color: white; width: 8.727em; height: 2.576em; background-color: #956e2f; padding: 0 1.212em 0 1.061em; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; border-radius: 50px;}
.mainBenefitArea > ul.tabContants li > a::before{content: ''; display: inline-block; width: 0.667em; height: 0.576em; background: url('../images/checkIcon.png') no-repeat center / cover;}

/* 메인 추천 */
.mainRecomArea{margin-bottom: 7.500em;}
.mainRecomArea h2{font-size: 2.500em; font-weight: 700; margin-bottom: 1.250em;}
.mainRecomArea ul li{ margin-bottom: 5.000em; padding-bottom: 3.125em; border-bottom: 1px solid #dadada;}
.mainRecomArea ul li figure > a{display: block; position: relative; margin-bottom: 1.250em;}
.mainRecomArea ul li figure > a img{width: 100%;}
.mainRecomArea ul li figure > a > span{position: absolute; left: 1.250em; top: 1.250em; width: 6.250em;}
.mainRecomArea ul li figure > a > div{position: absolute; right: 1.250em; top:1.250em; width: calc(100% - 7.5em); display: flex; justify-content: flex-end; flex-wrap: wrap;}
.mainRecomArea ul li figure > a > div span{display: inline-block; width: 4em; height: 4em; font-size: 1.250em; font-weight: 700; color:white; background-color: black; display: flex; justify-content: center; align-items: center; margin-left: 1em;}
.mainRecomArea ul li figure figcaption{font-weight: 700;}
.mainRecomArea ul li figure figcaption div{ margin-bottom: 1.500em;}
.mainRecomArea ul li figure figcaption h3{font-size: 1.625em; margin-bottom: 0.692em;}
.mainRecomArea ul li figure figcaption p{font-size: 1.500em; margin-bottom: 0.833em;}
.mainRecomArea ul li figure figcaption mark{font-size: 2.250em;}

/* 메인 베너 */
.mainBannerArea{text-align: center; margin-bottom: 7.500em;}
.mainBannerArea .swiper-container{height: 35.000em; background:url('../images/mainBannerBG.png') no-repeat center / cover;}
.mainBannerArea .swiper-slide{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; padding: 3.438em 0; box-sizing: border-box;}
.mainBannerArea .swiper-slide div{display: flex; margin-bottom: 2.813em;}
.mainBannerArea .swiper-slide div img:not(:last-of-type){margin-right: 20px;}
.mainBannerArea .swiper-slide p{font-size: 1.625em; font-weight: 700; color: white; padding-bottom: 0.192em; margin-bottom: 1.538em;}
.mainBannerArea .swiper-slide p::after{background-color: white;}
.mainBannerArea .swiper-slide h3{font-size: 3.125em; font-weight: 900; color: white; line-height: 1.500em; font-family: 'Montserrat', sans-serif; letter-spacing: 0.060em;}
.mainBannerArea .swiper-slide h3 span{display: block; font-size: 0.780em; font-weight: 900;}
/* 메인 베너 페이저 */
.mainBannerArea .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 3.125em; }
.mainBannerArea .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
{background-color: white; width:0.750em; height: 0.750em; }
.mainBannerArea .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active
{width: 3.125em; border-radius: 30px; transition: 0.3s width;}


/* 메인 상담 */
.mainCounselArea{margin-bottom: 7.500em;}
.mainCounselArea ul{ color: white; text-align: center ;margin-bottom: 3.750em;}
.mainCounselArea ul li{width: 23.750em; height: 18.750em; margin: 0 auto; padding: 3.125em 0; box-sizing: border-box; background-color: #bd9c68; border-radius: 25px;}
.mainCounselArea ul li:not(:last-child){margin-bottom: 2.500em;}
.mainCounselArea ul li p{height: 100%; display: flex; flex-direction: column; justify-content: flex-end; font-size: 1.875em; font-weight: 700; color: white; background-repeat: no-repeat; background-position: center top; background-size: 2.167em; }
.mainCounselArea ul li:nth-child(1) p{background-image: url('../images/mainCounselIcon01.png');}
.mainCounselArea ul li:nth-child(2) p{background-image: url('../images/mainCounselIcon02.png');}
.mainCounselArea ul li:nth-child(3) p{background-image: url('../images/mainCounselIcon03.png');}
.mainCounselArea ul li p strong{display: inline-block; font-size: 1.733em; font-weight: 400; margin-top:0.481em; }
.mainCounselArea > div{display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.mainCounselArea > div p{font-size: 1.375em; font-weight: 500; color: #757575;}
.mainCounselArea > div p:first-of-type{padding-right: 0.909em; margin-right: 0.909em; position: relative;}
.mainCounselArea > div p:first-of-type::after{content: ''; position: absolute; right: 0; top: 0.091em; width: 1px; height: 100%; background-color: #757575;}
.mainCounselArea > div p:last-of-type{width: 100%; margin-top: 0.682em;}


/* 메인 게시판 */
.mainBoardArea{ border-top: 1px solid #e0e0e0; margin-bottom: 7.500em;}
.mainBoardArea h2{display: none;}
.mainBoardArea > div{ padding: 3.125em 0; font-weight: 700; border-bottom: 1px solid #e0e0e0; position: relative;}
.mainBoardArea > div h3{font-size: 2.125em;  margin-bottom: 1.412em;}
.mainBoardArea > div ul li:not(:last-child){margin-bottom: 3.125em;}
.mainBoardArea > div ul li p{font-size: 1.500em; font-weight: 500; color: #757575; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.mainBoardArea > div ul li p:not(:last-child){margin-bottom: 0.833em;}
.mainBoardArea > div ul li div.video{width: 8.125em; margin-bottom:1.250em;}
.mainBoardArea > div ul li div.video img{width: 100%;}
.mainBoardArea > div ul li span{display: inline-block; font-size: 1.250em; color: #a2a2a2;}
.mainBoardArea > div ul li span[class |= "answer"]{color: white; line-height: 1.750em; padding: 0 0.750em; border-radius: 100px;}
.mainBoardArea > div ul li span[class |= "answer"][class $= "fin"]{background-color: #bd9c68;}
.mainBoardArea > div ul li span[class |= "answer"][class $= "waiting"]{background-color: #b8b8b8;}
.mainBoardArea > div .plusIcon{width: 3.750em; height: 3.750em; position: absolute; right: 0; top: 2.500em;}


/* 메인 아이콘 */
.mainIconArea > *:not(:last-child){margin-bottom: 3.750em;}
.mainIconArea .iconArea{display: flex; flex-wrap: wrap; justify-content: space-between;}
.mainIconArea .iconArea li{width: calc((100% - 2.500em) / 3); height: 11.250em; padding: 1.875em 0; box-sizing: border-box; border-radius: 10px; box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);}
.mainIconArea .iconArea li:nth-child(-n + 3){margin-bottom: 2.500em;}
.mainIconArea .iconArea li a{ height: 100%; display: flex; justify-content: center; align-items: flex-end; background-repeat: no-repeat; background-position: center top; background-size: 2.708em; font-size: 1.500em; font-weight: 700;}
.mainIconArea .iconArea li:nth-of-type(1) a{background-image: url('../images/mainIcon01.png');}
.mainIconArea .iconArea li:nth-of-type(2) a{background-image: url('../images/mainIcon02.png');}
.mainIconArea .iconArea li:nth-of-type(3) a{background-image: url('../images/mainIcon03.png');}
.mainIconArea .iconArea li:nth-of-type(4) a{background-image: url('../images/mainIcon04.png');}
.mainIconArea .iconArea li:nth-of-type(5) a{background-image: url('../images/mainIcon05.png');}
.mainIconArea .iconArea li:nth-of-type(6) a{background-image: url('../images/mainIcon06.png');}
/* 메인 sns */
.snsArea{display: flex; justify-content: center; margin-bottom: 120px;}
.snsArea li{width:4.375em;}
.snsArea li img{width: 100%;}
.snsArea li:not(:last-of-type){margin-right: 1.250em;}


/* 메인 바텀 */
.mainBottomArea{background-color: #313131; padding: 5.000em 0; }
.mainBottomArea > div{display: flex; flex-wrap: wrap; justify-content: space-between;}
.mainBottomArea > div > div{width: 50%;}
.mainBottomArea > div > div:last-of-type{width: 100%;}
.mainBottomArea > div > div:not(:last-child){margin-bottom: 3.125em;}
.mainBottomArea > div > div h3{font-size: 1.500em; font-weight: 900; color: white; margin-bottom: 0.417em;}
.mainBottomArea > div > div ul:not(:last-of-type){margin-bottom: 3.125em;}
.mainBottomArea > div > div ul li a{font-size: 1.375em; font-weight: 500; line-height:1.818em;  color: #d6d5d5;}
/* 메인 바텀 마지막 div */
.mainBottomArea > div > div:last-child > *:not(:last-child){margin-bottom: 1.563em;}
.mainBottomArea > div > div > a{display: flex; height: 14.063em; background-color: #bd9c68; border-radius: 10px;}
.mainBottomArea > div > div > a::before{content: ''; display: inline-block; width: 10.938em; height: 100%; background-repeat: no-repeat; background-position: center;  background-size: 4.875em;}
.mainBottomArea > div > div > a:nth-of-type(1)::before{background-image: url('../images/counselIcon01.png');}
.mainBottomArea > div > div > a:nth-of-type(2)::before{background-image: url('../images/counselIcon02.png');}
.mainBottomArea > div > div > a div{display: flex; flex-direction: column; justify-content: center; font-weight: 700; color: #313131;}
.mainBottomArea > div > div > a div small{font-size: 1.625em; margin-bottom: 0.577em;}
.mainBottomArea > div > div > a div strong{font-size: 3.625em; font-weight: 400; margin-bottom: 0.259em; }
.mainBottomArea > div > div > a div p{font-size: 2.000em;}
.mainBottomArea > div > div > p{font-size: 1.375em; font-weight: 500; color: #b28f57; text-align: center;}



/* 서브페이지 */

/* 회사소개 */
.aboutUsArea .subTItleArea h2{background-image: url('../images/aboutUsTitleBG.png');}
.aboutUsArea .contentsArea{font-weight: 700;}
.aboutUsArea .contentsArea span{font-size: 1.625em; color: white; display: inline-block; width: 4.615em; height: 4.615em; background-color:#bd9c68;  display: flex; justify-content: center; align-items: center; margin-bottom: 1.538em;}
.aboutUsArea .contentsArea h3{font-size: 2.500em; margin-bottom: 0.875em;}
.aboutUsArea .contentsArea p{font-size: 1.500em; font-weight: 500; line-height: 1.417em; word-break: keep-all;}
.aboutUsArea .contentsArea p:not(:last-of-type){margin-bottom: 1.667em;}

.aboutUsArea .listArea{padding: 5.000em 0; background-color: #eee9e0;}
.aboutUsArea .listArea ul{display: flex; flex-wrap: wrap; justify-content: space-between; text-align: center;}
.aboutUsArea .listArea ul li{width: calc((100% / 2)); margin-bottom: 3.125em;}
.aboutUsArea .listArea ul li h4{font-size: 1.750em; font-weight: 700; line-height: 1.357em; margin-bottom: 1.071em;}
.aboutUsArea .listArea ul li:nth-child(4) h4,
.aboutUsArea .listArea ul li:nth-child(5) h4{min-height: 2.714em;}
.aboutUsArea .listArea ul li p{font-size: 1.375em; font-weight: 500; line-height: 1.455em; padding: 17.045em 0.682em 0; word-break: keep-all; background-repeat: no-repeat; background-position: center top; background-size: 10.909em 15.455em; }
.aboutUsArea .listArea ul li:nth-child(1) p{background-image: url('../images/aboutUsListImg01.png');}
.aboutUsArea .listArea ul li:nth-child(2) p{background-image: url('../images/aboutUsListImg02.png');}
.aboutUsArea .listArea ul li:nth-child(3) p{background-image: url('../images/aboutUsListImg03.png');}
.aboutUsArea .listArea ul li:nth-child(4) p{background-image: url('../images/aboutUsListImg04.png');}
.aboutUsArea .listArea ul li:nth-child(5) p{background-image: url('../images/aboutUsListImg05.png');}

/* 멤버쉽 */
/* 멤버쉽 타이틀 */
.membershipArea .subTItleArea h2{background-image: url('../images/membershipTitleBG.png');}

/* 멤버쉽 탭 버튼 */
.membershipArea {}
.membershipArea .tabBtn{display: flex; flex-wrap: wrap; border-bottom: 1px solid #e2e2e2; margin-bottom: 3.750em;}
.membershipArea .tabBtn li{width: 33.33%; padding: 0.938em 0;}
.membershipArea .tabBtn li:nth-child(-n + 6){border-bottom: 1px solid #e2e2e2;}
.membershipArea .tabBtn li span{display: block; font-size: 1.500em; font-weight: 700; line-height: 2.500em; color: #a5a5a5; text-align: center; border-radius: 100px;}
.membershipArea .tabBtn li.active span,
.membershipArea .tabBtn li:hover span{color: white; background-color: #bd9c68; }
/* 멤버쉽 탭 컨텐츠 */
.membershipArea .contentsArea .tabContants > li > *:not(:last-child){margin-bottom: 6.250em;}

/* 멤버쉽 상담 버튼 */
.membershipArea .counselBtnArea{display: none;}
.membershipArea .counselBtnArea.active{display: block;}
.membershipArea .counselBtnArea a{display: block; height: 11.563em; background-color: #cead78; border-radius: 20px; padding: 1.875em 10px; box-sizing: border-box; display: flex; box-shadow: 0px 2px 5px 0px #cead78;}
.membershipArea .counselBtnArea a:not(:last-of-type){margin-bottom:1.875em; }
.membershipArea .counselBtnArea a::before{content: ''; min-width: 11.875em; background-repeat: no-repeat; background-position: center; border-right: 1px solid rgba(0,0,0,0.3); background-size:4.063em; }
.membershipArea .counselBtnArea a div{display: flex; flex-direction: column; justify-content: space-between; width: 100%; color: #313131; padding-left: 2.188em; }
/* 멤버쉽 상담 버튼 - 전화 */
.membershipArea .counselBtnArea .telBtn::before{background-image: url('../images/counselIcon01.png')}
.membershipArea .counselBtnArea div{font-weight: 700;}
.membershipArea .counselBtnArea div small{font-size: 1.625em;}
.membershipArea .counselBtnArea div strong{font-size: 3.750em; font-weight: 400;}
.membershipArea .counselBtnArea div p{font-size: 1.875em; letter-spacing: -2px;}
/* 멤버쉽 상담 버튼 - 온라인 */
.membershipArea .counselBtnArea .onlineBtn::before{background-image: url('../images/counselIcon03.png');}
.membershipArea .counselBtnArea .onlineBtn div{flex-direction: row; justify-content: space-between; align-items: center; padding-right:1.875em;}
.membershipArea .counselBtnArea .onlineBtn div strong{font-size: 2.625em; font-weight: 500; letter-spacing: -5px;}
.membershipArea .counselBtnArea .onlineBtn div::after{content: ''; width: 1.250em; height: 100%; background: url('../images/bracketIcon02.png') no-repeat center top 55%; background-size: 1.250em;}
/* 멤버쉽 상담 버튼 - 고객센터 */
.membershipArea .counselBtnArea .serviceBtn::before{background-image: url('../images/counselIcon04.png');}
/* 멤버쉽 상담 버튼 - 여행상담 */
.membershipArea .counselBtnArea .travelBtn::before{background-image: url('../images/counselIcon02.png');}


/* 멤버쉽 인용문 */
.membershipArea .quoteArea{padding: 0.893em 0; font-size: 1.750em; font-weight: 700; line-height: 1.357em; text-align: center; border: 4px solid #ded2bf; box-sizing: border-box; position: relative;}
.membershipArea .quoteArea::before,
.membershipArea .quoteArea::after{content: ''; position: absolute; top: calc(50% - 18.5px); width: 30px; height: 37px; background-color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
.membershipArea .quoteArea::before{left: -17.5px; background-image: url('../images/quoteIcon01.png');}
.membershipArea .quoteArea::after{right: -17.5px; background-image: url('../images/quoteIcon02.png');}

/* 멤버쉽 상품 */
.goodsArea{display: flex; flex-wrap: wrap; justify-content: space-between;}
.goodsArea table{width: 100%; font-weight: 700; color: #757575;}
.goodsArea table:not(:last-child){margin-bottom: 0.625em;}
.goodsArea table caption{font-size: 1.750em; font-weight: 900; line-height: 2.500em; color: rgba(0,0,0,0.5);  border-radius: 10px; margin-bottom: 0.357em;}
.goodsArea table tr{display: block; font-size: 1.500em; font-weight: 700; letter-spacing: -1px; padding: 0.833em 0; border-radius: 10px;}
.goodsArea table tr:not(:last-child){margin-bottom: 0.417em;}
.goodsArea table tr th{min-width: 6.875em; max-width: 6.875em; padding:0 1.250em; line-height: 1.417em; box-sizing: border-box; }
.goodsArea table tr td{padding:0 0.625em 0 1.250em; border-left: 1px solid rgba(0,0,0,0.2);}
.goodsArea table tr td div{line-height: 1.417em; min-height: 1em;}

/* 멤버쉽 상품 사항 아이콘 */
.goodsArea table tr td div.includedIcon{padding-left: 1.250em; background: url('../images/tableIcon.png') no-repeat left 0.292em; background-size: 1em;}

/* 멤버쉽 상품 색상*/
.goodsArea table[class |= "goods"]:not([class $= "finish"]):nth-of-type(1) caption{background-color: #ded2bf;}
.goodsArea table[class |= "goods"]:not([class $= "finish"]):nth-of-type(1) tr{background-color: #f7f3ec;}
.goodsArea table[class |= "goods"]:not([class $= "finish"]):nth-of-type(3) caption{background-color: #ecd98b;}
.goodsArea table[class |= "goods"]:not([class $= "finish"]):nth-of-type(3) tr{background-color: #fcf5d8;}

/* 멤버쉽 상품 종료*/
.goodsArea table[class |= "goods"][class $= "finish"] caption{background-color: #c4c4c4;}
.goodsArea table[class |= "goods"][class $= "finish"] caption::after{content: ' [상품가입 종료]'; }
.goodsArea table[class |= "goods"][class $= "finish"] tr{background-color: #f0f0f0;}

/* 멤버쉽 상품 진행*/
.goodsArea table.included:not(:last-of-type){margin-bottom: 6.250em; }
.goodsArea table.included tr{border-width: 2px; border-style: solid;}
.goodsArea table.included tr:first-of-type{border-color:#e2bb7e;}
.goodsArea table.included tr:nth-of-type(2){border-color:#c2c2c2;}

/* 멤버쉽 - 신규 상품 */
.membershipArea .newArea .infoArea img{width: 100%; margin-bottom: 1.875em;}


/* 멤버쉽 하단  */
/* 멤버쉽 페이지 하단 - 멤버쉽 */
.membershipArea .membershipBottom .tabContants li{line-height: 0;}
.membershipArea .membershipBottom .tabContants li img{width: 100%;}

/* 멤버쉽 중요 고지사항*/
.membershipArea .noticeArea{padding: 5.000em 0; background-color: #313131;}
.membershipArea .noticeArea > div h3{font-size: 2.250em; font-weight: 700; color: white; margin-bottom: 0.833em;}
.membershipArea .noticeArea > div ul{margin-bottom: 3.438em;}
.membershipArea .noticeArea > div ul li{font-size: 1.375em; font-weight: 500; line-height: 1.545em; color: #a5a5a5; letter-spacing: -1px; padding-left: 23px; position: relative;}
.membershipArea .noticeArea > div ul li::before{content: ''; position: absolute; width: 5px; height: 5px; left: 0; top: 13px; background: url('../images/circleIcon.png') no-repeat center/ cover;}
.membershipArea .noticeArea .counselBtnArea a{box-shadow: none;}





